WaterSort/.vs/
*.csproj
WaterSort/Library/
WaterSort/UserSettings/
WaterSort/obj/
WaterSort/Logs/
WaterSort/Assets/StreamingAssets/
*.vsconfig
WaterSort/Temp/

WaterSort/Doc/
WaterSort/WaterSort.sln
WaterSort/Assets/WZ/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_0.bundle
WaterSort/Assets/WZ/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_0.bundle.meta
WaterSort/Assets/WZ/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_0.so
WaterSort/Assets/WZ/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_0.so.meta
